@charset "utf-8";
/* CSS Document */

/* 
Author: Peyton Searcy
Date: 6/7/2022
Stylesheet for final exam project*/


/*HTML Style*/

html {
    background-color: rgb(6, 86, 112);
}


/*Body Styles*/

body {
    font-style: Verdana, sans-serif;
    color: black;
    font-size: 16pt;
    width: 85%;
    margin: auto;
}

h1 {
    font: Arial;
    font-size: 22pts left-aligned;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    background-color: rgb(52, 62, 71);
}

p {
    background-color: lightgrey;
    margin: 15px;
    padding: 15px;
}







/*Header Styles*/

header {
    background-color: rgb(228, 242, 136);
}

header h1 {
    font-size: 36pt;
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
    background-color: rgb(228, 242, 136);
}

header h3 {
    font-size: 24 pts;
    margin: 0px;
    padding: 0px 0px 15px 15px;
    background-color: rgb(228, 242, 136);
}

/* Nav Styles */

nav {
    background-color: rgb(228, 242, 136);
}


nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: pink;
}

/* section styles */

section#leftcolumn {
    background-color: rgb(228, 242, 136);
    text-align: center horizontal top;
    width: 25%;
    margin: 0px;
    padding: 0px;
}







/* Table styles */

table {
    border: none;
    padding: 2px 5px 2px 5px;
    width: 90%;
    margin-left: 30px;
}


tr:nth-child(odd) {
    background-color: rgba(40, 40, 44, 0.521);
}

tr:nth-child(even) {
    background-color: lightgray;
}

table th {
    column-span: all;
    text-align: center;
    font-weight: bold;
}

table a {
    text-decoration: none;
    color: black;
}

table a:hover {
    color: rgb(6, 86, 112)
}


/* Footer Styles */

footer {
    background-color: rgb(228, 242, 136);
}

footer p {
    background-color: rgb(228, 242, 136);
}